body {
    padding-bottom: 40px;
}

#spinner {
position: absolute;
z-index: 10000000;
width: 32px;
height:32px;
left: 50%;
top: 50%;
mergin-top:-16px;
mergin-left:-16px;
}

#row1 {
	min-height: 400px;
}

#bigcontainer {
	margin-top:149px;
}

.star {
	color:#FFED9A;
}

.heart {
	color:#F69280;
}

.chart_pie {
	color:#8AC8F0;
}

.star,.heart,.chart_pie {
	background-color:#3D3D3D;
	border:5px solid #2A303E;
	border-radius: 10px;
	font-family: Verdana;
}

.level {
	font-size: 20px;
	background-color: #3D3D3D;
	border-radius: 20px;
	border: 5px solid #3D3D3D;
	color:white;
	min-width: 20px;
	text-align: center;
}

.photo_bottom_container {
	position: absolute;
	right: 20px;
	bottom: 15px;
	width: 190px;
	text-align: right;
	font-size: 14px;
}

.photo_top_container {
	position: absolute;
	left: 10px;
	top: 12px;
}

.navbar .right-info {
	text-align: right;
	margin: 10px 0 0;
	color:white;
}

.navbar .right-info>li {
	min-width: 100px;
	text-align: right;
}

.navbar .right-info>li>a {
	display: inline-block;
	padding: 5px;
}


#error_block {

}

.nav li {
	text-align: center;
}

.navbar .nav>li>a {
	font-weight: normal !important;
}
.nav li>a>img {
	opacity:0.7;
	margin-bottom: 5px;
}

.nav li>a:hover>img,.nav li.active>a>img {
	opacity:1;
}

.jvectormap-region {
    stroke: black;
    stroke-width: 0.1px;
}

.navbar .brand {
	padding: 6px 20px 6px;
}

.navbar .brand2 {
	padding-left: 5px;
	padding-top: 10px;
}

.rightmenu {
	float: right;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	height:25px;
}

.navbar .brand:hover {
	color: white;
}


#region_list,#members_list,#posts_list {
	display: none;
}

#region_list li,#members_list li,#posts_list li {
	list-style: none;
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #2A303E;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
	left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #2A303E;
	padding: 3px;
	color: white;
	width: 10px;
	height: 13px;
	cursor: pointer;
	line-height: 19px;
	text-align: center;
	padding-right: 5px;
}

.jvectormap-zoomin {
    top: 10px;
}

.jvectormap-zoomout {
    top: 30px;
}

.medale,.org_member {

	height: 42px;
	display: inline-block;
}

.medale {
	cursor:default;
}
.org_member img {
	width:32px;
	height:32px;
}

.popover_avatar {
	float: left;
	margin-right: 10px;
}

.navbar .nav li.active>a, .navbar .nav li.active>a:hover, .navbar .nav li.active>a:focus {
	background-color: rgba(0, 0, 0, 0.25);
	color: #ffffff;
}

.navbar-inner {
	background-color: #2A303E;
}


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on September 9, 2014 */


/*
@font-face {
    font-family: 'globerbold_free';
    src: url('./fonts/gbf.eot');
    src: url('./fonts/gbf.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gbf.woff2') format('woff2'),
         url('./fonts/gbf.woff') format('woff'),
         url('./fonts/gbf.ttf') format('truetype'),
         url('./fonts/gbf.svg#globerbold_free') format('svg');
    font-weight: bold;
    font-style: normal;

}*/



/*
@font-face {
    font-family: 'globerthin_free';
    src: url('./fonts/gtf.eot');
    src: url('./fonts/gtf.eot?#iefix') format('embedded-opentype'),
         url('./fonts/gtf.woff2') format('woff2'),
         url('./fonts/gtf.woff') format('woff'),
         url('./fonts/gtf.ttf') format('truetype'),
         url('./fonts/gtf.svg#globerthin_free') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

h1,h2,h3,h4,h5,h6  {
	font-family: 'Roboto Condensed', sans-serif; 
}
h4 {
font-size: 20px;
line-height: 20px;
}
h4 small {
font-size: 16px;
}

body {
	font-family: 'Roboto Condensed', Verdana, sans-serif;
	font-size: 100%;
	/*letter-spacing: 0.5px;*/
}

input,button,textarea,.btn {
	font-family: Verdana;
}

.pull-right {
	float: right;
}

.socnet-textarea {
	resize: none;
	margin: 0px 0px 9px;
	width: 290px;
	height: 60px;
}

.tweet {
	word-break: break-word;
	border-top:1px solid gray;
	padding-top: 15px;
}

.tweet.last {
	border-bottom:1px solid gray;
}

.tweet-footer {
	text-align:right;
	margin-top: -10px;
	color:gray;
}

.sub_brand {
	position: absolute;
	left: 55px;
	top: 35px;
	min-width: 200px;
	font-size:12px;
}

.tweet .delete {
	height: 19px;
	line-height: 10px;
	width: 20px;
	padding: 0;
}

.tweet .date {
	color:gray;
	font-size: 12px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.text-center {
	text-align: center;
}

#vk_auth {
	margin: 0 auto;
}

.show_on_load {
	display: none;
}

dd {
    margin-bottom: 10px;
    font-size: 90%;
}

#current_date {
	font-size: small;
	font-family: arial;
}

.dropdown:hover > .dropdown-menu { 
    display: block; 
} 

.dropdown-menu {
	margin-top:0 !important;
}


/*Panel tabs*/

.tab-content > .tab-pane {
    padding: 0 10px;
}

.panel-primary {
    border: 1px solid #2A303E;
}

.panel-primary > .panel-heading {
    color: #FFF;
    background-color: #2A303E;
    border-color: #2A303E;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1;
}
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav {
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: outside none none;
}
.nav > li > a {
    position: relative;
    display: block;
    /* padding: 10px 15px; */
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}

.index-header {
    background: #fff;
    height: 500px;
    text-align: center;
    padding: 200px 0 0;
    position: relative;
}

.index-header > .bg {
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}

.index-header > .bg > .container {
    z-index: 100;
    position: relative;
}

.index-header .text {
    margin: 40px 0 0 0;
    max-width: 800px;
}

.index-header .text > h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: .2em;
    margin-top: .2em;
}

.index-header .text > .subtitle {
    font-size: 22px;
    font-weight: 400;
    margin: 1em 0 1.5em;
}

.index-header .signup {
    text-align:left;
    margin: 40px 0 0 0;
    max-width: 800px;
}

.img-polaroid {
    margin-top: 10px;
}

.auth-clients {
    display: inline-block;
    margin-top: 5px;
}

#market-change-unnp {
    float: right;
    margin-top: 10px;
}

.input-money {
    width: 100px;
}